@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glassBackground {
    @apply bg-[rgba(255,255,255,0.3)] backdrop-blur-md p-5 border border-gray-300 rounded-xl;
  }
}

body {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  a {
    text-decoration: none;
    color: black;
    transition: all ease-in-out 0.2s;

    &:hover {
      color: white;
    }
  }
}
